body {
    font-family: 'Wallpoet';font-size: 25px; font-weight: normal;
    height: 100%;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.band-status-active {
    color: green;
}

.lists:hover {
    background-color: rgba(139, 5, 5, 0.87);
  }